POSTGRES_DB=enterprise_ai_copilot
POSTGRES_USER=copilot_admin
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
BACKEND_CORS_ORIGINS=http://localhost:5173
JWT_SECRET_KEY=replace_with_a_long_random_secret
